
<div class="banner">
<%= render 'shared/navbar' %>
  <div class="banner-content text-center">
    <h1 class="title">AUSTRALIAN<br>ICE CREAM BOWLS</h1>
  </div>


  <div class="banner-arrow">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
  </div>
</div>
