<div id="top">
  <%= render "banner" %>
</div>

<div class="wraper-home recettes" id="recettes">
  <h1 class="index-title text-center">CONCEPT</h1>
</div>


<div class="wraper-home australie">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="concept-description">
          <p><strong>Janvier 2016, Sydney, Australie.</strong></p>
          <p>L’été bat son plein sur Bondi Beach, la plage est bondée, les surfeurs profitent du swell, le soleil de l’hémisphère Sud nous réchauffe. 16h, c’est l’heure de se faire plaisir avec un petit goûter : aujourd’hui ce sera un “ice cream bowl” recouvert de fraises, graines de grenade, sauce au raw cacao et granola. On le déguste sur la plage, les doigts de pied en éventail, en scrutant les baigneurs et les surfeurs, juste avant de retourner dans les vagues : l’art du chill à l’australienne.</p>

          <br><br><br><br><br>

          <p><strong>Février 2017, Paris, France.</strong></p>
          <p>Retour à la grisaille et à la routine métro-boulot-dodo pas vraiment joyeuse. On rêve encore de ces ice cream bowls qui nous rappellent les beaux moments vécus en Australie et on donnerait tout pour retrouver ces sensations de bien-être et de vitalité. Après des dizaines de tests pour tenter de retrouver le plaisir de ces glaces et des soirées-dégustations avec nos amis, on décide de créer Superbol pour que tout le monde puisse enfin découvrir ces glaces onctueuses et gourmandes.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wraper-home recettes" id="recettes">
  <h1 class="index-title text-center bols-title">SUPERBOLS</h1>
  <div class="card-bols">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-1">
            <h3 class= "card-home-title text-center">Margaux</h3>
            <p class="card-home-description"><strong>Sport et Santé</strong><br><br> blablabla</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-2">
            <h3 class= "card-home-title text-center">Juliette</h3>
            <p class="card-home-description"><strong>Fraicheur et Peps</strong><br><br> blablabla</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-2">
            <h3 class= "card-home-title text-center">Juliette</h3>
            <p class="card-home-description"><strong>Fraicheur et Peps</strong><br><br> blablabla</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

