.profile-1 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: image-url("background.jpg") no-repeat center;
}

.profile-2 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: image-url("margaux.jpg") no-repeat center;
}

.profile-3 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: image-url("plateau.jpg") no-repeat center;
}
