.index-title {
  color: black;
  margin-top: 40px;
  margin-bottom: 40px;
}

.index-sous-title {
  color: black;
  margin-top: 60px;
  margin-left: 30px;
  padding-top: 40px;
}

.image-country {
  max-width: 300px;
  border-radius: 2px;
  margin: 30px;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

.index-paragraphe {
  color: black;
  font-size: 20px;
  margin: 40px;
}

.bols-title {
  margin-bottom: 20px;
}

.paragraphe {
  margin-top: -10px;
  font-size: 21px;
}

.profil {
  margin-bottom: 20px;
}
