.wraper-home {
  padding-top: 30px;
  padding-bottom: 50px;
}

.wraper-home li {
  list-style: none;
}

.wraper h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.dream-team {
  background-color: white;
}

.country-wraper {
  background-color: #E7E7E7;
  padding-bottom: 20px;
}

.recettes {
  height: 200px;
  color: black;
  h1 {
    margin-top: 45px
  }
}

.australie {
  background: image-url("australie.jpg") no-repeat center;
  opacity: 0.9;
  color: white;
  text-align: center;
  height: 80vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.concept-description {
  color: black;
  font-size: 21px;
}

.superbols {
  height: 200px;
  color: black;
  h1 {
    margin-top: 45px
  }
}

.profile {
  height: 300px;
  margin-left: 54px;
  margin-top: 5px;
}

.equipe {
  height: 200px;
  color: black;
  h1 {
    margin-top: 19px
  }
}
