.wraper-home {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #E9E9E9;
}

.wraper-home li {
  list-style: none;
}

.wraper h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.dream-team {
  background-color:#D7D7D7;
}

.country-wraper {
  background-color: #E7E7E7;
  padding-bottom: 20px;
}
